/.DS_Store
/FirstProject
/Uebung1
/Uebung2
/Uebung3
/Uebung4
/Uebung5
/Uebung6
/nalek_movie-watchlist-1-sample-solution
/nalek_movie-watchlist-1-sample-solution.zip
/node_modules
/package-lock.json
/package.json
.netlify